:root {
    --primary-font: 'Raleway', sans-serif;
    --btn-color: #404BBF;
    --main-text-color: #FFFFFF;
    --border: 1px solid #e7e9fc;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}   
.link {
    text-decoration:none;
}
.list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;    
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*-------------header---------------*/
.header {
    border-bottom: 1px solid #e7e9fc;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-logo {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase ;
    color: #4D5AE5;
    margin-right: 76px;
}
.header-logo-dark {
    color: #2E2F42;
}
.header-menu {
    display: flex;
    gap: 40px;
}

.header-menu-li {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    display: block;
    padding: 24px 0;
}
.header-menu-li:hover,
.header-menu-li:focus {
    color: #404BBF;
}
.header-address {
    font-style: normal;
    margin-left: auto;
}
.header-soc {
    display: flex;
    margin-left: auto;
    gap: 40px;
}
.header-soc-li {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-soc-li:hover, 
.header-soc-li:focus {
    color: #404BBF;
}
/*-------------hero---------------*/
.hero {
    background-color: #2E2F42;
    padding: 188px 0;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-text-color);
    text-align: center;
    margin-bottom: 48px;
    max-width: 496px; 
    margin-left: auto;
    margin-right: auto;   
}
.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;  
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
    color: #ffffff;
}
.hero-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.hero-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.img {
    display: block;
    min-width: 100%;
    height: auto;
}
/*-------------benefits---------------*/
.benefits {
    padding: 120px 0;
}
.benefits-li {
    display: flex;
    gap: 24px;
    padding-left: 0;
}
.benefits-item {
    width: calc((100% - 72px) / 4);
     
}
.benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.benefits-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*-------------products---------------*/
.products {
    padding-bottom: 120px;
}
.products-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;
}
.products-li {
    display: flex;
    gap: 24px;
    padding-left: 0;
}
.products-item {
    width: calc((100% - 48px) / 3);
}

/*-------------team---------------*/
.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;
}
.team-li {
    display: flex;
    gap: 24px;
}
.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
}
.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.container-img {
    padding: 32px 16px;
}
/*-------------footer---------------*/
.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase ;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px
}
.footer-logo-dark {
    color: #F4F4FD;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}
/*-------------Tabs---------------*/
.tabs {
    padding-top: 96px;
    padding-bottom: 120px;
}
.tabs-li {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.tabs-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: #F4F4FD;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    border: var(--border);
}
.tabs-btn:hover,
.tabs-btn:focus {
    color: var(--main-text-color);
    background-color: var(--btn-color);
    border: 1px solid transparent;
}
.hero-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    padding-left: 0;
}
.hero-item {
    width: calc((100% - 48px) / 3); 
}
.container-link {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}



